[Desktop Entry]
Type=Application
Name=PDF Studio Viewer 12
GenericName=PDF Studio Viewer 12
Comment=View PDF files
Exec=/bin/sh "/opt/pdfstudioviewer12/pdfstudioviewer12"
Icon=/opt/pdfstudioviewer12/.install4j/pdfstudioviewer12.png
Terminal=false
MimeType=application/pdf;
Categories=Viewer;Graphics;Office;
Keywords=Viewer;Graphics;Office;
